* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

#infoDetails {
	background-color: #000;
	width: 100%;
	height: 100%;
}

/* container */

.container-img-flag {
	height: auto;
	width: auto;
	border-color: #0892d0;
	border-image: none;
	border-radius: 0;
	border-style: solid;
	border-width: 5px;
	margin-top: 15%;
}

.container-img-flag:hover {
	border-color: transparent;
	border-radius: 0%;
	border-style: none;
	border-width: 0px;
	height: auto;
	width: auto;
	overflow: hidden;
	transform: scale(1.03);
	transition: all 0.5s;
}

.container-img-flag img {
	width: 100%;
	height: auto;
	margin-top: 4px;
}

.container-img-coatOfArms {
	border-color: #0892d0;
	border-image: none;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	height: auto;
	width: auto;
	overflow: hidden;
}

.container-img-coatOfArms:hover {
	border-color: transparent;
	border-radius: 0%;
	border-style: none;
	border-width: 0px;
	height: auto;
	width: auto;
	overflow: hidden;
	transform: scale(1.03);
	transition: all 0.5s;
}

.container-img-coatOfArms img {
	width: 100%;
	height: auto;
	margin-top: 3%;
}

/* grid */
.infoDetails {
	display: grid;
	height: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 0.4fr 0.4fr;
	grid-template-areas:
		"nav nav nav"
		"info1 info1 flag"
		"coatOfArms info2 info2";
	grid-gap: 0.2rem;
	text-align: center;

	background-color: #000;
}

#info1 {
	/* color: white; */
	grid-area: info1;
	height: auto;
	min-width: 70%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 30px;
	margin-right: 5px;
}

#flag {
	grid-area: flag;
	height: auto;
	min-width: 30%;
	margin-right: 30px;
}

#coatOfArms {
	grid-area: coatOfArms;
	height: auto;
	min-width: 30%;
	margin-left: 30px;
}

#info2 {
	/* color: white; */
	grid-area: info2;
	height: auto;
	min-width: 60%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 30px;
	margin-left: 5px;
}

/* titles */

#nav {
	background-color: black;
	color: white;
	grid-area: nav;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: white;
	/* min-width: 600px; */
	padding: 8%;
	background: url(https://images4.alphacoders.com/803/80316.jpg) no-repeat
		center center/cover;
}

.title {
	font-weight: 500;
	font-size: 50px;
	font-family: "Montserrat", sans-serif;
}

/* div & list items */
.infoData {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.border-radius-top {
	border-radius: 15px 15px 0 0;
}

.border-radius-bottom {
	border-radius: 0 0 15px 15px;
}

.infoPropertyData {
	width: 107px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}

.infoLisData {
	width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}

.div-color-bright {
	background-color: #e4d5b7;
	filter: brightness(100%);
	color: #000;
}

.div-color-dark {
	background-color: #e4d5b7;
	filter: brightness(90%);
	color: #000;
}

.a-color {
	color: black;
}

/* buttons */

.inputSubmit {
	position: relative;
	border: none;
	outline: none;
	cursor: pointer;
	right: -10%;
	background: transparent;
	margin-right: 10px;
}

.inputSubmit a {
	color: yellow;
	font-size: 20px;
}

/* spinner */
.loading {
	display: flex;
	justify-content: center;
	padding-top: 20%;
}

.loading::after {
	content: "";
	width: 50px;
	height: 50px;
	border: 10px solid #dddddd;
	border-top-color: #0892d0;
	border-radius: 50%;
	animation: loading 1s linear infinite;
}

@keyframes loading {
	to {
		transform: rotate(1turn);
	}
}

/* media querys */

/* // mobile size */
@media (min-width: 320px) and (max-width: 480px) {
	#nav {
		flex-direction: column;
		padding: 12%;
	}

	.infoDetails {
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 0.4fr 0.5fr 0.4fr 0.5fr;
		grid-template-areas:
			"nav"
			"flag"
			"info1"
			"coatOfArms"
			"info2";
		overflow: auto;
	}

	.title {
		font-size: 30px;
	}

	.inputSubmit {
		right: 0%;
	}

	.inputSubmit a {
		font-size: 15px;
	}

	#flag {
		min-width: 80%;
		margin-right: 30px;
		margin-left: 30px;
	}

	#coatOfArms {
		min-width: 80%;
		margin-left: 30px;
		margin-right: 30px;
	}

	#info1 {
		margin-right: 30px;
	}

	#info2 {
		margin-left: 30px;
		margin-top: 5%;
	}

	.infoData {
		padding-left: 2px;
		padding-right: 2px;
	}

	.infoData p {
		width: 70%;
		font-size: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.infoPropertyData {
		width: 70%;
	}

	.infoLisData {
		width: 50%;
	}

	.a-color {
		display: flex;
		align-items: center;
		align-content: center;
		font-size: 10px;
	}
}

/* tablet size */
@media (min-width: 481px) and (max-width: 769px) {
	.infoDetails {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.2fr 0.4fr 0.4fr;
		grid-template-areas:
			"nav nav"
			"info1 flag"
			"coatOfArms info2";
		overflow: auto;
	}

	#coatOfArms {
		margin-right: 5px;
		margin-left: 30px;
	}

	#info2 {
		margin-right: 30px;
		margin-left: 5px;
	}

	.container-img-flag {
		margin-top: 50%;
	}

	.infoData {
		padding-left: 2px;
		padding-right: 2px;
	}

	.infoData p {
		width: 70%;
		font-size: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.infoPropertyData {
		width: 70%;
		font-size: 14px;
	}

	.infoLisData {
		width: 70%;
		font-size: 14px;
	}

	.a-color {
		display: flex;
		align-items: center;
		align-content: center;
		font-size: 10px;
	}
}
